@import url("https://use.typekit.net/wzi3sml.css");

@import "./nav";
@import "./header";
@import "./sections";
@import "./footer";
:root {
  --brand-main: #666;
  --brand-accent: #ef41fa;
  --text-color: #999;
  --brand-accent-faded: #b800067a;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  font-family: muli, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin: 0;
}

h1 {
  font-size: 3vw;
}
h2 {
  font-size: 2.5vw;
}
h3 {
  font-size: 2vw;
}
h4 {
  font-size: 1.5vw;
}
h5 {
  font-size: 1.2vw;
}
h6 {
  font-size: 1vw;
}

main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
